<div class="project-wrapper">
	<div class="project-name"> 
		<%= image_tag 'project/object up.png'%>
		<span>Проэкты</span>
	</div>
	<div class="arrow-left"> <%= image_tag 'project/arrow-left.png'%> </div>
	<div class="arrow-right"> <%= image_tag 'project/arrow-right.png'%> </div>
	
	<div class="project-file">КАРУСЕЛЬ</div>
</div>
