<div class="team-wrapper">
	<div class="ball-wrapp">
		<div class="team-ball ball-up"><%= image_tag 'team/roll-left-up.png'%></div>
		<div class="team-ball ball-center"><%= image_tag 'team/roll-left-center.png'%></div>
		<div class="team-ball ball-bottom"><%= image_tag 'team/roll-left-down.png'%></div>
	</div>
	<div class="team-list">
		<div class="team-name"> 
			<span>Команда</span>
		 </div>
	</div>
	
	
</div>