@import "bootstrap-sprockets";
@import "bootstrap";

*{
  padding: 0;
  margin: 0;
}

.no-pad{
  padding: 0;
}

.no-mar{
  margin: 0;
}

.general-overlay{
  width: 100%;
  height: 100vh;
  position: relative;
  & .overlaypic{
    width: 100%;
    height: 100%;
  }
}

.header{
  position: absolute;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  & .prelogo{
    height: .5vh;
    width: 10.4vw;
    position: absolute;
    left: 5%;
    top: 9vh;
    background-color: white;
  }
  & .logo{
   position: absolute;
    width: 5vw;
    top: 0px;
    left: 15.2vw;
    height: 13vh;
    position:relative;
    & img{width:100%; height:100%;}
    & .logoline{ position: absolute;top:3vh; left:0; height:8vh;}
    & .borderlogo{position: absolute;top:8.85vh; left:0; height:3vh;}
    & .logotext{position: absolute;top:12vh; left:0; height:2vh;}
    
  }
}

.search, .map, .list{
    width: 7vw;
    height: 5vh;
    padding-left: 2vw;
    margin: 0 1vw 0 1vw;
    position: absolute;
    text-align: center;
    z-index: 500;
    border-left: .25vw solid white;
    & img{
      height: 100%;
      margin: 0 auto;
    }
  }
  
  .search{
    left: 85vw;
    top: 2.5vh;
  }
  .list{
    left: 76vw;
    top: 2.5vh;
  }
  .map{
    left: 67vw;
    top: 2.5vh;
  }
  
  .topline-right{
    position: absolute;
    color: white;
    border-width: .5vh 0 0;
    width: 75vw;
    top: 9vh;
    left: 20vw;
    margin: 0;
  }

     .center-header-center{
      width: 32%;
      height: 15vh;
      position: absolute;
      top: 0;
      left: 34%;
      & img{
        position: absolute;
        width: 70%;
        height: 50%;
        top: 15%;
        left: 15%;
      }
      & .right-border, .left-border{
        width: 0px;
        height: 0px;
        posiltion: absolute;
        top: 0; 
      }
      & .right-border{
        right: 0;
        .white-circle{
          width: 2vh;
          height: 2vh;
          border-radius: 50%;
          background-color: white;
          position: absolute;
        }
        & .white-line{
          width: .5vh;
          height: 60%;
          position: absolute;
          top: 0;
          left: .75vh;
          background-color: white;
        }
      }
      & .left-border{
        left: 0;
        .white-circle{
          width: 2vh;
          height: 2vh;
          border-radius: 50%;
          background-color: white;
          position: absolute;
          right: 0;
        }
        & .white-line{
          width: .5vh;
          height: 60%;
          position: absolute;
          top: 0;
          right: .75vh;
          background-color: white;
        }
      }
    }

     .center-header-left{
      position: absolute;
      top: 0;
      left: 0;
      width: 42%;
      & .white-circle{
        height: 2vh;
        width: 2vh;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 1.5vh;
        left: 5vw;
      }
      & .white-line{
        width: calc( 100% - 13vw );
        height:.5vh;
        position: absolute;
        top: 2.25vh;
        left: 5vw;
        background-color: white;
      }
    }
    .center-header-right{
      position: absolute;
      top: 0;
      left: 58%;
      width: 42%;
      & .white-circle{
        height: 2vh;
        width: 2vh;
        border-radius: 50%;
        background-color: white;
        position: absolute;
        top: 1.5vh;
        right: 5vw;
      }
      & .white-line{
        width: calc( 100% - 13vw );
        height:.5vh;
        position: absolute;
        top: 2.25vh;
        right: 5vw ;
        background-color: white;
      }
    }
.center-block{
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 15vh;
  left: 0;
  & .left-top-corner, .left-bottom-corner, .right-top-corner, .right-bottom-corner{
    width: 3vw;
    height: 3vw;
    position: absolute;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  & .left-top-corner{
    top: 1vh;
    left: 1vw;
  }
  & .right-top-corner{
    top: 1vh;
    right: 1vw;
    & img{
      transform: rotate(90deg);
    }
  }
  & .right-bottom-corner{
    right: 1vw;
    bottom: 1vh;
    
     -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
        & img{
          transform: rotate(90deg);
        }
  }
  & .left-bottom-corner{
    bottom: 1vh;
    left: 1vw;
     -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
  }
  & .center-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
  }

& .center-left{
  width: 10%;
  height: 100%;
  display: block;
  position: absolute;
  top: 5vh;
  left: 0;
  border-right: 2px solid white;
}
& .center-right{
  width: 10%;
  height: 100%;
  position: absolute;
  top: 5vh;
  left: 90%;
  display: block;
  position: relative;
  border-left: 2px solid white;
}
}
.placeholder{
  width: 80%;
  height: 100%;
  position: absolute;
  top: 5vh;
  left: 10%;
  overflow: hidden;
}

div.dotted.round {
  width:100%;
  height:100%;
  gborder:solid 3px;
  border-radius:100%;
  position:relative;
  display:flex;  
  justify-content:center;
  align-items:center;
  font-size:2.5vw;

 & svg {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  stroke: #FFF; 
  stroke-width: 3px;
  stroke-dasharray:  .25 4;
  stroke-dashoffset: 8;
  stroke-linecap:round;                                    
  fill: none;
}
}

#canv-up{
  position: absolute;
  top: 55%;
  left: 1vh;
  width: calc(100% - 2vh);
  height: 35%;
  & svg{
    left: 0!important;
    top: 0!important;
  }
}

.footer{
  position: absolute;
  width: 100%;
  height: 20vh;
  top: 80vh;
  left: 0;
  & .shayba{
    position: absolute;
    top: 25%;
    width: 3vw;
    height: 5vw;
    & img{
      width: 100%;
      height: auto;
    }
    & span{
      display:block;
      text-align: center;
      color: white;
      font-weight:600;
      width: 200%;
      margin-left: -50%;
    }
  }
  & .shayba-1{
    left: 15vw;
  }
  & .shayba-2{
    left: 30vw;
  }
  & .shayba-3{
    right: 15vw;
  }
  & .shayba-4{
    right: 30vw;
  }
  & .center-header-center{
    height: 22vh;
    top: -5vh;
    & img{
      height: 80%;
    }
    & .white-circle{
      top: 70%;
    }
    & .white-line{
      top:25%;
      height: 50%;
    }
    & #canv-down{
      position: absolute;
      top: 0px;
      left: 1vh;
      height: 26%;
      width: calc(100% - 1.7vh);
    }
  }
}

//------------------------------------ ANIMATIONS ------------------------------------------------------//
 
@-webkit-keyframes spinner { 
    from { 
        -webkit-transform: rotateY(0deg); 
    } 
    to { 
        -webkit-transform: rotateY(-360deg); 
    } 
} 
 
@keyframes spinner { 
    from { 
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg); 
    } 
    to { 
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg);
    } 
}
#spinner { 
 
    -webkit-animation-name: spinner; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 6s; 
 
    animation-name: spinner;  /* указываем на ключевые кадры анимации с названием "spinner" */
    animation-timing-function: linear; /* функция синхронизации, с помощью которой будут происходить преобразования */
    animation-iteration-count: infinite; /* количество повторов анимации. "infinite" - значит бесконечно */
    animation-duration: 6s; /* длительность анимации */
 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d; /* указываем что это 3D преобразование */
} 
 
#spinner:hover { 
    -webkit-animation-play-state: paused; 
    animation-play-state: paused; /* останавливаем анимацию */
}

//----------------------------------- MEDIA QUERIES --------------------------------------//

@media all and (max-width: 1359px) and (min-width: 1361px) and (max-height: 769px) and (min-height: 767px){
  
  *{
    display: none;
  }
  .notebook{
    display: block;
  }
}
@media all and (max-width: 1921px) and (min-width: 1919px) and (max-height: 1081px) and (min-height: 1079px){
  
}
@media all and (max-width: 1281px) and (min-width: 1279px) and (max-height: 1025px) and (min-height: 1023px){
  .size{
    display: none;
  }
  .thinbook{
    display: block;
  }
}
@media all and (max-width: 1025px) and (min-width: 1023px) and (max-height: 769px) and (min-height: 767px){
  .size{
    display: none;
  }
  .standart{
    display: block;
  }
}
@media all and (max-width: 1601px) and (min-width: 1599px) and (max-height: 901px) and (min-height: 899px){
  .size{
    display: none;
  }
  .wide{
    display: block;
  }
}

/*-------------------------MEDIA QUERIES by ANTIP---------------------*/
@media all and (max-width: 1000px) and (max-height:668px){  
 .prelogo{height: 0.15vh!important;} 
 .topline-right{border-width: 0.15vh 0px 0px;}
 .center-header{
   & .center-header-left{
     & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
     }
     & .white-line{
       height: 0.1vh;
     }
   }
   & .center-header-right{
      & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
     }
     & .white-line{
       height: 0.1vh;
     }
   }
 }  
  
.center-header-center{
       height: 15vh;
     & .right-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.6vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           left: 1.2vh;
           }
       }
     & .left-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.6vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           right:0.9vw;
           }
       }
     }
.center-header-center{
  & .media-right-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.6vw;
           top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           }
       }
  & .media-left-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.4vw;
          top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           right:0.7vw;
           }
         } 
      }
  

 
 .center-left{border-right: 0.1vw solid #FFF !important;}
 .center-right{border-left: 0.1vw solid #FFF !important;}
 .dotted{stroke-width: 1px !important;}
 .center-header-left{
   & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
       top:1.9vh;
     }
     & .white-line{
       height: 0.12vh;
     }
 }
 .center-header-right{
   & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
       top:1.9vh;
     }
     & .white-line{
       height: 0.12vh;
     }
 }
 
}


@media all and (max-width: 1260px) and (max-height:924px){  
 .prelogo{height: 0.15vh!important;} 
 .topline-right{border-width: 0.15vh 0px 0px;}
 .center-header{
   & .center-header-left{
     & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
     }
     & .white-line{
       height: 0.15vh;
     }
   }
   & .center-header-right{
      & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
     }
     & .white-line{
       height: 0.15vh;
     }
   }
 }  
  
.center-header-center{
       height: 15vh;
     & .right-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.4vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           left: 1vh;
           }
       }
     & .left-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.4vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           right:0.7vw;
           }
       }
     }
.center-header-center{
  & .media-right-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.6vw;
           top:55%;
          }
        & .white-line{
           width: 0.15vh!important;
           height: 30%;
           top: 26%;
           }
       }
  & .media-left-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.4vw;
          top:55%;
          }
        & .white-line{
           width: 0.15vh!important;
           height: 30%;
           top: 26%;
           right:0.7vw;
           }
         } 
      }
  

 
 .center-left{border-right: 0.15vw solid #FFF !important;}
 .center-right{border-left: 0.15vw solid #FFF !important;}
 .dotted{stroke-width: 1px !important;}
 .center-header-left{
   & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
       top:1.9vh;
     }
     & .white-line{
       height: 0.15vh;
     }
 }
 .center-header-right{
   & .white-circle{
       top: 1.8vh;
       height: 1vh;
       width: 1vh;
       top:1.9vh;
     }
     & .white-line{
       height: 0.15vh;
     }
 }
 
}

@media all and (max-width: 1346px) and (max-height:668px){  
 
.center-header-center{
       height: 15vh;
     & .right-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.25vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           left: 1vh;
           }
       }
     & .left-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.25vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           right:0.5vw;
           }
       }
     }
.center-header-center{
  & .media-right-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.2vw;
           top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           left: 0.8vh;
           }
       }
  & .media-left-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.2vw;
          top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           right:0.4vw;
           }
         } 
      }
  

}

@media all and (max-width: 1580px) and (max-height:800px){  

  
.center-header-center{
       height: 15vh;
     & .right-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.5vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           left: 1.5vh;
           }
       }
     & .left-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.5vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           right:0.7vw;
           }
       }
     }
.center-header-center{
  & .media-right-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.45vw;
           top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           left: 1.2vh;
           }
       }
  & .media-left-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.25vw;
          top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           right:0.5vw;
           }
         } 
      }
}
@media all and (max-width: 1900px) and (max-height:980px){  

  
.center-header-center{
       height: 15vh;
     & .right-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.45vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           left: 1.3vh;
           }
       }
     & .left-border{
      & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.45vw;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 56%;
           right:0.7vw;
           }
       }
     }
.center-header-center{
  & .media-right-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          left:0.3vw;
           top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           left: 1vh;
           }
       }
  & .media-left-down{
          & .white-circle{
          width: 1vh!important;
          height: 1vh!important;
          right:0.25vw;
          top:55%;
          }
        & .white-line{
           width: 0.1vh!important;
           height: 30%;
           top: 26%;
           right:0.5vw;
           }
         } 
      }
}