<div class="header">
	<div class="search">
		<%= image_tag 'main/search.png'%>
	</div>
	<div class="list">
		<%= image_tag 'main/map.png'%>
	</div>
	<div class="map">
		<%= image_tag 'main/map.png'%>
	</div>
	<hr class="topline-right"> </hr>
</div>